# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working

RewriteEngine On
RewriteBase /
ErrorDocument 404 /index.php/404.php
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
